html, body{height: 100%;}
.require-visit a:link {color: red}
.require-visit a:visited {color: greenyellow}
.require-visit-hide a:link {color: blue}
.require-visit-hide a:visited {color: rgb(0, 68, 255)}
.clearfix:after {content: "";display: table;clear: both;}
.dark {background-color: rgba(32,37,41,255);background: rgba(32,37,41,255);}
.dark h1 {color: #fff;}
.dark h2 {color: #fff;}
.dark h3 {color: #fff;}
.dark h4 {color: #fff;}
.dark h5 {color: #fff;}
.dark h6 {color: #fff;}
.dark p {color: #fff;}
.dark label {color: #fff;}
.dark span {color: #fff;}
.light {background-color: #fff;background: #fff;}
.light h1 {color: rgb(43, 43, 43)}
.light h2 {color: rgb(43, 43, 43)}
.light h3 {color: rgb(43, 43, 43)}
.light h4 {color: rgb(43, 43, 43)}
.light h5 {color: rgb(43, 43, 43)}
.light h6 {color: rgb(43, 43, 43)}
.light p {color: rgb(43, 43, 43)}
.light label {color: rgb(43, 43, 43)}
.light span {color: rgb(43, 43, 43)}
.txt-blue h1 {color: blue;}
.txt-blue h2 {color: blue;}
.txt-blue h3 {color: blue;}
.txt-blue h4 {color: blue;}
.txt-blue h5 {color: blue;}
.txt-blue h6 {color: blue;}
.txt-blue p {color: blue;}
.txt-blue label {color: blue;}
.txt-blue span {color: blue;}
.txt-white h1 {color: white;}
.txt-white h2 {color: white;}
.txt-white h3 {color: white;}
.txt-white h4 {color: white;}
.txt-white h5 {color: white;}
.txt-white h6 {color: white;}
.txt-white p {color: white;}
.txt-white label {color: white;}
.txt-white span {color: white;}
.txt-black h1 {color: black;}
.txt-black h2 {color: black;}
.txt-black h3 {color: black;}
.txt-black h4 {color: black;}
.txt-black h5 {color: black;}
.txt-black h6 {color: black;}
.txt-black p {color: black;}
.txt-black label {color: black;}
.txt-black span {color: black;}
.CheckBox {color: currentColor;}
/*------------------------------------------------
SCROLLBAR
------------------------------------------------*/
::-webkit-scrollbar {
    width: 16px;
    background-color: #212529;
  }
  ::-webkit-scrollbar-track {
    background: #2c3136;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    height: 56px;
    background: rgb(136, 136, 136);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
    background-color: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    background-color: rgb(151, 151, 151);
  }

/*------------------------------------------------
BANNERS
------------------------------------------------*/

.banner{height: 50%;}
.banner__image{background-color: gray; width: 30%; float: left; height: 100%;}
.banner__copy{width: 70%; float: left; height: 100%; display: table;}
.banner__copy__text{display: table-cell;vertical-align: middle;padding: 30px;}
.banner__copy__text h3{font-size: 36px; margin-bottom: 0;}
.banner__copy__text h4{font-size: 22px; margin: 5px 0;}

/*------------------------------------------------
COVER
------------------------------------------------*/
.common_cover{height: 70%;background-image: url("/assets/media/newcover.png");-o-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center center;position: relative;}
.common_cover--win11{height: 70%;background-image: url("/assets/media/win11.jpg");-o-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center center;position: relative;}
.common_cover--chros{height: 70%;background-image: url("/assets/media/chros.png");-o-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center center;position: relative;}
.common_cover--os{height: 70%;background-image: url("/assets/media/win11-chros.jpeg");-o-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center center;position: relative;}
.common_cover--tools{height: 70%;background-image: url("/assets/media/toolsbanner.png");-o-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center center;position: relative;}
.common_cover__filter{background: #000;width: 100%;height: 100%;position: absolute;z-index: 0;opacity: 70%;}
.common_cover__caption{display: table;height: 100%;width: 100%;position: relative;z-index: 1; padding: 0 20px;}
.common_cover__caption__copy{display: table-cell;vertical-align: middle;text-align: center;color: #fff;}
.common_cover__caption__copy h1{color: #fff}
.common_cover__caption__copy h2{color: #fff}
.common_cover--single{height: 50%;}
.common_cover--temp{height: 100%;background-image: url("/assets/media/index__cover__background.jpeg");background-size: cover;-o-background-size: cover;-moz-background-size: cover;background-position: center center;position: relative;}

/*------------------------------------------------
DEVICES
------------------------------------------------*/

      /*------------------------------------------------
      TABLET
      ------------------------------------------------*/

      @media (max-width:998px){

          /*------------------------------------------------
          BANNER
          ------------------------------------------------*/
  
          .banner__image{width: 50%;height: 50%;}
          .banner__copy{width: 50%;height: 50%;}
  
      }
  
      /*------------------------------------------------
      PHONE
      ------------------------------------------------*/
  
      @media (max-width:767px){
  
          /*------------------------------------------------
          COVER
          ------------------------------------------------*/
  
          .common_cover{width: 100%; height: 100%;}

          /*------------------------------------------------
          BANNER
          ------------------------------------------------*/
  
          .banner{width:100%; height: 100%;}
          .banner__image{width: 100%;max-width:767px ; height: 50%;}
          .banner__copy{width: 100%;height: 50%;}
      }
.external-page-div {height: 85%;background-color: #fff;background:#fff;color: rgba(32,37,41,255);position: relative;}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bottom_right {
  position:absolute;
  bottom:0;
  right:0;
}
.hided {display: none;visibility: hidden;}