.img-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(300px,1fr)
    );
    grid-gap: 30px;
}
.page{
    display: none;
}
.inf-loading{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
}
.inf-loading>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
.loading{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
}
.loading>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}