.image-container {width:100%;border: 100px solid red;}
.image {float:left;padding:5px;}
.image:hover {filter: opacity(0.7) drop-shadow(0 0 0 grey);}
.opening {border: 5px solid rgb(0, 183, 255);border-radius: 10px;}