nav {position: fixed;top: 2px;left: 2px;right: 2px;background-color: black;height: 40px;padding: 5px;border-radius: 10px;z-index: 11;}
nav div:nth-child(1) {float: left;}
nav div:nth-child(2) {float: right;}
nav div:nth-child(2) button {width: 30px;min-width: unset;padding: 0;}
nav div button {border-radius: 5px;width: 30px;background-color: white;border: 0px;height: 30px;padding: 0;overflow: hidden;color: black;text-align: left;}
nav div button img {height: 100%;margin-right: 5px;}
nav button.navbar-menubtn {width: 100%;border-radius: 5px;background-color: white;border: 0px;height: 30px;padding: 0;overflow: hidden;color: black;text-align: left;}
nav button.navbar-menubtn img {height: 100%;margin-right: 5px;}
div.nav-compenser {width: 100%;height: 50px;}
div.nav-compenser button{border: 0;height: 100%;width: 100%;background-color: transparent;pointer-events: none;color: transparent;}
footer {width: calc(100% - 4px);background-color: black;min-height: 70px;padding: 10px;border-radius: 10px;margin: 2px;position: relative;z-index: 10;}
footer div p {color: white !important;}
footer div:nth-child(1) {float: left;}
footer div:nth-child(2) {float: right;}
footer div img {height: 40px;margin: 5px;}
.navbuttonextend {animation: navbuttonextend 0.5s;width: 100px;}
#navbar-other.navbuttonextend {animation: navbuttonextend 0.5s;width: unset;padding-right: 5px;}
#navbar-menu {position: fixed;top: 44px;left: 2px;right: 2px;bottom: 2px;z-index: 12;border-radius: 10px;background-color: black;padding: 0px;overflow-x: hidden;overflow-y: auto;}
#navbar-menu button {width: calc(100% - 10px)!important;text-align: center;margin: 5px;}
.explore {width: calc(100% - 4px);padding: 10px;background-color: black;margin: 2px;border-radius: 10px;height: 150px;}
.explore button {width: 100%;height: calc(calc(100% / 4) - 4px);padding: 0 !important;margin: 2px 0px 2px 0px !important;}
.explore-banner {width: calc(100% - 4px);margin: 2px;background-color: black;border-radius: 10px;padding: 5px;max-height: 500px;}
.explore-banner div {width: 100%;padding: 5px;margin: 5px;height: calc(calc(100% / 4) - 10px);}
.explore-banner div img {height: 100%;aspect-ratio: 1 / 1;margin: 5px;border-radius: 10px;}
.new-xcenter-apps {width: calc(100% - 4px);margin: 2px;border-radius: 10px;background-color: black;padding: 5px;max-height: 54%;overflow-y: auto;overflow-x: hidden;}
.new-xcenter-apps img {width: 100px;aspect-ratio: 1 / 1;margin: 5px;border-radius: 10px;border: 5px solid gray;background-color: gray;cursor: pointer;}
.new-xcenter-apps img:hover {animation: glow infinite linear 1s;}
.new-xcenter-apps-launch {background-color: black;}
.new-xcenter-apps-launch button {float: right;width: 30px;height: 30px;padding: 0;background-color: transparent;margin: 10px;}
.new-xcenter-apps-launch .inf-loading {width: 100px;height: 100px;background-color: transparent;}
.new-xcenter-apps-launch .inf-loading div {width: 30px;height: 30px;border: 5px solid #45474b;border-top-color: #2a88e6;margin: 10px;animation-duration: 0.5s !important;}
.new-xcenter-apps-launch .center img {width: 100px;aspect-ratio: 1 / 1;margin: 5px;border-radius: 10px;border: 5px solid gray;background-color: gray;}
.new-xcenter-apps-launch .center p {text-align: center;margin: 0;color: #fff !important;}
.new-xcenter-apps-packages {background-color: rgb(36, 36, 36);position: fixed;display: flex;border-radius: 10px;}
.new-xcenter-apps-packages button:nth-child(3) {float: right;width: 30px;height: 30px;padding: 0;background-color: transparent;margin: 10px;}
.new-xcenter-apps-packages button {flex-grow: 1;background-color: transparent;aspect-ratio: 1/1;}
.new-xcenter-apps-install {background-color: black;}
.new-xcenter-apps-install button {float: right;width: 30px;height: 30px;padding: 0;background-color: transparent;margin: 10px;}
.new-xcenter-apps-install .inf-loading {width: 100px;height: 100px;background-color: transparent;}
.new-xcenter-apps-install .inf-loading div {width: 30px;height: 30px;border: 5px solid #45474b;border-top-color: #2a88e6;margin: 10px;animation-duration: 0.5s !important;}
.new-xcenter-apps-install .center img {width: 100px;aspect-ratio: 1 / 1;margin: 5px;border-radius: 10px;border: 5px solid gray;background-color: gray;}
.new-xcenter-apps-install .center p {text-align: center;margin: 0;color: #fff !important;}
.new-xcenter-apps-uninstall {background-color: black;}
.new-xcenter-apps-uninstall button {float: right;width: 30px;height: 30px;padding: 0;background-color: transparent;margin: 10px;}
.new-xcenter-apps-uninstall .inf-loading {width: 100px;height: 100px;background-color: transparent;}
.new-xcenter-apps-uninstall .inf-loading div {width: 30px;height: 30px;border: 5px solid #45474b;border-top-color: #2a88e6;margin: 10px;animation-duration: 0.5s !important;}
.new-xcenter-apps-uninstall .center img {width: 100px;aspect-ratio: 1 / 1;margin: 5px;border-radius: 10px;border: 5px solid gray;background-color: gray;}
.new-xcenter-apps-uninstall .center p {text-align: center;margin: 0;color: #fff !important;}
.store {width: 100%;height: 100%;padding: 10px;}
.store div {margin: 5px;margin-top: 10px;}
.store div h1 {margin: 0 !important;float: left;}
.store div button {width: 50px;height: 50px;float: right;background-color: transparent;padding: 0;}
.store div hr {width: calc(100% - 4px);margin: 2px !important;height: 5px !important;background-color: gray;}
.store-apps {display: flex;width: 100%;overflow-x: auto;overflow-y: hidden;}
.store-apps img {width: 100px;aspect-ratio: 1 / 1;margin: 5px;border-radius: 10px;border: 5px solid gray;background-color: gray;cursor: pointer;}
.store-apps img:hover {animation: glow infinite linear 1s;}
.store-reccomended-stores img {width: 100% !important;aspect-ratio: unset;}
.store-reccomended-stores img:hover {animation: storeadd infinite linear 1s;}
.store-app-view {background-color: rgb(27, 27, 27);z-index: 1 !important;}
.store-app-view div {width: calc(100% - 10px);margin: 5px;padding: 10px;background-color: gray;border-radius: 10px;}
.store-app-view div img {width: 100px;aspect-ratio: 1 / 1;margin: 5px;border-radius: 10px;border: 5px solid gray;background-color: gray;float: left;}
.store-app-view div h1 {margin: 0;}
.store-app-view div button {width: 100%;background-color: green;}
.store-app-view-desc {background-color: rgba(0, 0, 0, 0.596) !important;}
.store-app-view-desc-daycuriosity {background-color: black !important;}
.store-app-view-screens {background-color: rgba(0, 0, 0, 0.596) !important;}
.store-app-view-screenshots {background-color: black !important;overflow-y: hidden !important;overflow-x: auto !important;}
.store-app-view-screenshots img {float: none !important;height: 200px;aspect-ratio: 1 / 3 !important;width: unset !important;}
@keyframes glow {
    0% {
        border: 5px solid blue;
    }
    50% {
        border: 5px solid cyan;
    }
    100% {
        border: 5px solid blue;
    }
}
@keyframes storeadd {
    0% {
        border: 5px solid green;
    }
    50% {
        border: 5px solid greenyellow;
    }
    100% {
        border: 5px solid green;
    }
}
@keyframes navbuttonextend {
    0% {
        width: 30px;
        min-width: 30px;
        max-width: 30px;
    }
    100% {
        width: unset;
        min-width: 100px;
        max-width: 400px;
    }
}
/*FIXES-------------------------------*/
@media (max-width: 270px) {
    footer {height: 130px;}
}
@media (max-width: 220px) {
    footer {height: 150px;}
}

